.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100vw;
    max-width: 400px;
    height: auto;
}

.button-primary {
    width: 85vw;
    color: white;
    font-size: large;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 8px;
    max-width: 400px;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgb(155,23,255);
    background: linear-gradient(90deg, rgba(155,23,255,1) 25%, rgba(235,0,255,1) 85%);
}

.button-container {
    width: 85vw;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
   
.button-left {
    width: 35vw;
    max-width: 180px;
    height: 55px;
    color: white;
    font-size: large;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgb(155,23,255);
    background: linear-gradient(90deg, rgba(155,23,255,1) 25%, rgba(235,0,255,1) 85%);
}

.button-right {
    width: 35vw;
    max-width: 180px;
    height:55px;
    color: white;
    font-size: large;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgb(155,23,255);
    background: linear-gradient(90deg, rgba(155,23,255,1) 25%, rgba(235,0,255,1) 85%);
}